#background {
    position: fixed;
    left: 0;
    top: 5%;
    width: 100%;
    height: 100vh;
    z-index: -2;
    filter: brightness(100%) grayscale(80%);
    opacity: 50%;
}
#myVideo {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -3;
    opacity: 100%;
    filter: saturate(100%) grayscale(100%);
}
.name{
    background-color: rgba(255, 255, 255, 0.15);
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    font-size: 50px;
    color: rgb(255, 255, 255);
}
h2{
    margin-bottom: 50px;
}
.transparent{
    position: relative;
    top: 25px;
    text-align: center;
    color: rgba(255, 0, 0, 0);
    text-shadow: 5px 5px 0px black;
}
#logo{
    margin: 0 20px;
    max-width: 35px;
    opacity: 85%;
    border-radius: 10%;
}
#logo:hover{
    opacity: 100%;
    transition: 0.5s;
}
.vidspace{
    height: 100vh;
}
section{
    padding-top: 20px;
    height: 1080px;
}
.nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li > a {
    font-size: 15px !important;
    background-color: transparent !important;
    margin: 0 5px !important;
    padding: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.nav-pills li, .navbar-nav li{
    margin: 0 20px;
}
.text-uppercase{
    font-size: 15px;
}
#ex1{
    margin: 0 0 !important;
}
#navbarDropdown{
    padding: 0 0 0 0;
}
.nav-link.active{
    color: black !important;
}
#ex1-content{
    padding-top: 75px;
    margin-top: -75px;
}
#ex1-pills-1, #ex1-pills-2, #ex1-pills-3{
    text-align: center;
}
#pf{
    display: flex;
    justify-content: center;
}

.navbar-nav{
    position: relative;
    left: 1.4%;
}
.border-grey{
    border-top: 10px solid rgb(177, 177, 177);
}
.aboutme{
    max-width: 400px;
    max-height: 400px;
    filter: grayscale(40%);
}
.aboutme:hover{
    filter: grayscale(10%);
    transition: 0.5s;
}
.aboutmetitle{
    height: 30px;
    color: rgba(255, 255, 255, 0.575);
}
.aboutmetitle:hover{
    color: white;
    transition: 0.3s;
}
.aboutmetxt{
    margin-top: 20px;
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    #alex, #hamm{
        font-size: 50px;
        margin: 0 0;
    }
    h1{
        text-align: center; 
    }
    #background{
        width: 500px;
    }
    #myVideo{
        left: -370px;
        max-height: 100%;
        opacity: 60%;
    }
    #ex1-content{
        padding: 20px;
        margin: -20px;
    }
}

/* TEST */
#btn-tab{
    font-size: 24px;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 50px;
    display: block;
    scroll-behavior: smooth;
    opacity: 70%;
    box-shadow: 2px 2px 3px black;
}
#btn-tab:hover{
    opacity: 100%;
    transition: 0.5s;
}
#btn-tab i{
    position: relative;
    left: 1px;
    top: 2px;
}
