/* NAVBAR */

/*  */


/* BACKGROUND SECTIONS */

#ex1-pills-1, #ex1-pills-3{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(243, 243, 243);
}
#ex1-pills-2, #ex1-pills-3, #ex1-pills-4{
    margin-top: 100px;
}

/*  */

footer{
    padding: 20px;
}

#background {
    position: fixed;
    left: 0;
    top: 5%;
    min-width: 100%;
    min-height: 100vh;
    z-index: -2;
    filter: brightness(100%) grayscale(80%);
    opacity: 50%;
}
#myVideo {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -3;
    opacity: 100%;
    filter: saturate(100%) grayscale(100%);
}
.name{
    background-color: rgba(255, 255, 255, 0.15);
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}
#pf{
    display: flex;
    justify-content: center;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    font-size: 50px;
    color: rgb(255, 255, 255);
}
h2{
    font-size: 28px;
}
h3{
    background-color: white;
    font-size: 35px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.005);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.185);
}
h4{
    margin-bottom: 50px;
    max-width: 300px;
    padding: 10px 20px;
    text-transform: uppercase;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
}
h6{
    font-weight: 700;
}
.skills{
    width: 100%;
    color: rgb(165, 165, 165);
    padding: 3px;
    margin-top: -10px;
    font-size: 20px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.822);
}
.skills:hover{
    color: rgba(255, 255, 255, 0.781);
    transition: 0.3s;
}
.timetitle{
    margin-top: 30px;
}
.description{
    text-align: justify;
}
.location{
    font-weight: 700;
}
.contact{
    margin-bottom: 50px;
}

#contact{
    margin-top: 100px;
}
.transparent{
    position: relative;
    top: 25px;
    text-align: center;
    color: rgba(255, 0, 0, 0);
    text-shadow: 5px 5px 0px black;
}
#logo{
    margin: 0 25px;
    max-width: 35px;
    opacity: 85%;
    border-radius: 10%;
}
#logo:hover{
    opacity: 100%;
    transition: 0.5s;
}
.vidspace{
    height: 100vh;
}
.border-grey{
    border-top: 10px solid rgb(177, 177, 177);
}
.aboutme{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    filter: grayscale(60%);
}
.aboutme:hover{
    filter: grayscale(10%);
    transition: 0.5s;
}
.aboutmetitle{
    height: 30px;
    color: rgba(255, 255, 255, 0.575);
}
.aboutmetitle:hover{
    color: white;
    transition: 0.3s;
}
.aboutmetxt{
    margin-top: 20px;
    text-align: justify;
}

.pdf{
    color: white;
    padding: 10px 20px;
    background-color: rgb(206, 87, 87);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459);
}
.pdf:hover{
    color: white;
    background-color: rgb(179, 0, 0);
    transition: 0.5s;
}

#pf-tab-1, #pf-tab-2, #pf-tab-3, #pf-tab-4, #pf-tab-5{
    width: 120px !important;
    padding: 10px 20px !important;
    border-radius: 0;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15) !important;
}
.pfimg{
    margin-top: 80px;
    max-width: 80%;
}

iframe{
    max-width: 100%;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
}

#linkedin, #instagram, #twitter{
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 30px;
}
#linkedin:hover{
    color: rgb(57, 135, 253);
    transition: 0.3s;
}
#instagram:hover{
    color: rgb(199, 7, 49);
    transition: 0.3s;
}
#twitter:hover{
    color: rgb(78, 184, 255);
    transition: 0.3s;
}

#copyright{
    font-size: 15px;
    color: white;
    margin-top: 20px;
}
.rappel{
    color: rgba(255, 255, 255, 0.61);
}
.bg-white{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}
@media screen and (min-width: 1000px){
    .bg-white{
        width: 20%;
    }
    .time{
        width: 88%;
    }
    .device{
        display: none;
    }

    /* TIMELINE */

    .left{
        text-align: left;
    }
    .right{
        text-align: right;
    }

    /* NAVBAR DESKTOP */

    .nav-link.active{
        color: black !important;
    }
    .section-pills{
        padding-top: 20px;
        height: 100%;
        min-height: 77vh;
        padding-bottom: 100px;
    }
    .nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li > a {
        font-size: 15px !important;
        background-color: transparent !important;
        margin: 0 5px !important;
        padding: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }
    .nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li > a {
        font-size: 15px !important;
        background-color: transparent !important;
        margin: 0 5px !important;
        padding: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }
    .nav-pills li, .navbar-nav li{
        margin: 0 20px;
    }
    .nav-item .text-uppercase{
        font-size: 15px;
    }
    #ex1{
        margin: 0 0 !important;
    }
    #navbarDropdown{
        padding: 0 0 0 0;
    }
    #ex1-content{
        padding-top: 72px;
        margin-top: -72px;
    }
    #ex1-pills-1, #ex1-pills-2, #ex1-pills-3, #ex1-pills-4{
        text-align: center;
    }
    .navbar-nav{
        position: relative;
        left: 1.4%;
    }
}

@media screen and (max-width: 1000px) {
    .desktop{
        display: none;
    }
    #alex, #hamm{
        font-size: 50px;
        margin: 0 0;
    }
    h1{
        text-align: center; 
    }
    #background{
        width: 500px;
    }
    #myVideo{
        left: -370px;
        max-height: 100%;
        opacity: 60%;
    }
    #ex1-content{
        padding: 20px;
        margin: -20px;
    }
    .col-md-3{
        margin-bottom: 100px;
    }
    .fa-angle-left{
        transform: rotate(90deg);
    }
    .fa-angle-right{
        transform: rotate(270deg);
    }
    .description{
        text-align: justify;
    }

    /* NAVBAR MOBILE */

    .nav-link.active{
        color: rgb(0, 0, 0) !important;
    }
    .nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li > a {
        font-size: 15px !important;
        margin-left: 60px !important;
        background-color: transparent !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }
    .nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li > a {
        font-size: 15px !important;
        margin-left: 15px !important;
        background-color: transparent !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }
}

/* SCROLL BUTTON */
#btn-tab{
    font-size: 24px;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 50px;
    display: block;
    scroll-behavior: smooth;
    opacity: 70%;
    box-shadow: 2px 2px 3px black;
    z-index: 99;
}
#btn-tab:hover{
    opacity: 100%;
    transition: 0.5s;
}
#btn-tab i{
    position: relative;
    left: 1px;
    top: 2px;
}


/* PROGRESS BARS */

.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ffffff;
    border-radius: 0;
}

.card .card-block {
    padding: 1.25rem
}

h6 {
    font-size: 16px !important
}

.text-c-green {
    color: #2ed8b6
}

.m-l-10 {
    margin-left: 10px
}

.proj-progress-card .progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px
}

.proj-progress-card .progress .progress-bar {
    position: relative
}

.progress .progress-bar {
    height: 100%;
    color: inherit
}

.bg-c-red {
    background: #FF5370
}

.proj-progress-card .progress .progress-bar.bg-c-red:after {
    border: 3px solid #FF5370
}

.proj-progress-card .progress .progress-bar:after {
    content: "";
    background: #fff;
    position: absolute;
    right: -6px;
    top: -4px;
    border-radius: 50%;
    width: 15px;
    height: 15px
}

.bg-c-blue {
    background: #4099ff
}

.proj-progress-card .progress .progress-bar.bg-c-blue:after {
    border: 3px solid #4099ff
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
    border: 3px solid #2ed8b6
}

.bg-c-green {
    background: #2ed8b6
}

.bg-c-yellow {
    background: #FFB64D
}

.proj-progress-card .progress .progress-bar.bg-c-yellow:after {
    border: 3px solid #FFB64D
}

.m-b-30 {
    margin-bottom: 30px
}

.text-c-red {
    color: #FF5370
}


/* Timeline */

.main-timeline{
    padding: 30px 0;
    pointer-events: none;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline:before{
    content: '';
    background-color: #fff;
    height: 100%;
    width: 5px;
    transform: translateX(-50%);
    position: relative;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    width: 50%;
    margin: 0 10px 20px 0;
    float: left;
    position: relative;
}
.main-timeline .timeline-content{
    color: #555;
    display: block;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
    content: '';
    background-color: rgb(199, 199, 199);
    height: calc(100% + 20px);
    width: 135px;
    transform: translateY(-50%);
    position: absolute;
    right: 2px;
    top: 50%;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}
.main-timeline .timeline-year{
    color: #fff;
    background-color: rgb(199, 199, 199);
    font-size: 28px;
    font-weight: 600;
    padding: 10px 30px 10px 20px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    transform: translateY(-50%);
    position: absolute;
    left: calc(100% + 3px);
    top: 50%;
}
.main-timeline .timeline-icon{
    color: #fff;
    font-size: 35px;
    text-align: center;
    line-height: 66px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.15);
    border: 4px solid #fff;
    transform: translateY(-50%);
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 1;
}
.main-timeline .inner-content{
    background-color: #fff;
    padding: 10px 130px 10px 40px;
    }
.main-timeline .title{
    color: #333;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.main-timeline .description{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    margin: 0 0 20px 10px;
    float: right;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    transform: translateY(-50%) rotateY(180deg);
    right: auto;
    left: 3px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    padding: 10px 20px 10px 30px;
    left: auto;
    right: calc(100% + 1px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: 20px;
}
.main-timeline .timeline:nth-child(even) .inner-content{
    padding: 10px 30px 10px 145px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background-color: #33343f; }
.main-timeline .timeline:nth-child(4n+2) .timeline-year{ background-color: #33343f; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background-color: rgb(199, 199, 199); }
.main-timeline .timeline:nth-child(4n+3) .timeline-year{ background-color: rgb(199, 199, 199); }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background-color: #33343f; }
.main-timeline .timeline:nth-child(4n+4) .timeline-year{ background-color: #33343f; }
@media screen and (max-width:767px){
    .main-timeline{ padding: 0; }
    .main-timeline:before{ display: none; }
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        padding: 60px 0 65px;
        margin: 0 0 20px;
        float: none;
    }
    .main-timeline .inner-content{ padding: 10px 20px 10px 40px; }
    .main-timeline .timeline:nth-child(even) .inner-content{ padding: 10px 40px 10px 20px; }
    .main-timeline .timeline-content:before{
        height: 65px;
        width: 80px;
        transform: translateY(0);
        top: 100%;
        right: 0;
    }
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        transform: translateY(0) rotateY(180deg);
        left: 0;
    }
    .main-timeline .timeline-year{
        transform: translateY(0);
        left: 0;
        top: -60px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year{
        transform: translateY(0);
        right: 0;
        top: -60px;
    }
    .main-timeline .timeline-icon{
        font-size: 25px;
        line-height: 48px;
        height: 50px;
        width: 50px;
        border-width: 2px;
        transform: translateY(0);
        top: calc(100% + 7px);
        right: 7px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon{ left: 5px; }
}
@media screen and (max-width:567px){
    .main-timeline .title{ font-size: 18px; }
}

/*  */

/* Mobile Navbar */

/* Main menu positionning */
.clickthrough{
    pointer-events: all;
}

.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
	 content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: rgb(65,65,69);
    background: linear-gradient(90deg, rgba(65,65,69,1) 23%, rgba(67,66,73,0.9500175070028011) 48%, rgba(65,65,73,0.9136029411764706) 70%, rgba(57,61,66,0.8323704481792717) 82%, rgba(62,70,74,0.8015581232492998) 88%, rgba(130,153,158,0) 100%);
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 100%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: #ffffffd2;
	font-size: 1.4em;
	text-decoration: none;
    font-weight: bold;
}
/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
	position: fixed;
	top: 2px;
	padding-top: 20px;
	right: 35px;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: fixed;
	display: block;
	width: 28px;
	height: 4px;
	margin: 0 auto;
    opacity: 60%;
	background: #000000;
	transform: skew(5deg);
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #000000;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/* MENU Text part */

.device {
	position: fixed;
	width: 100vw;
	height: 100vh;
    z-index: 100;
    pointer-events: none;
}
#logomobile{
    margin-bottom: 30px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    transition: 1s;
}
.mobile{
    color: rgba(255, 255, 255, 0.623) !important;
}