footer{
    padding: 20px;
}

#background {
    position: fixed;
    left: 0;
    top: 5%;
    width: 100%;
    height: 100vh;
    z-index: -2;
    filter: brightness(100%) grayscale(80%);
    opacity: 50%;
}
#myVideo {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -3;
    opacity: 100%;
    filter: saturate(100%) grayscale(100%);
}
.name{
    background-color: rgba(255, 255, 255, 0.15);
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    font-size: 50px;
    color: rgb(255, 255, 255);
}
h2{
    font-size: 28px;
}
h3{
    background-color: white;
    font-size: 35px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.005);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.185);
}
h4{
    margin-bottom: 50px;
    max-width: 300px;
    padding: 10px 20px;
    text-transform: uppercase;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
}
h6{
    font-weight: 700;
}
.skills{
    width: 100%;
    color: rgb(165, 165, 165);
    padding: 3px;
    margin-top: -10px;
    font-size: 20px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.822);
}
.skills:hover{
    color: rgba(255, 255, 255, 0.781);
    transition: 0.3s;
}
.contact{
    margin-bottom: 50px;
}

#contact{
    margin-top: 100px;
}
.transparent{
    position: relative;
    top: 25px;
    text-align: center;
    color: rgba(255, 0, 0, 0);
    text-shadow: 5px 5px 0px black;
}
#logo{
    margin: 0 20px;
    max-width: 35px;
    opacity: 85%;
    border-radius: 10%;
}
#logo:hover{
    opacity: 100%;
    transition: 0.5s;
}
.vidspace{
    height: 100vh;
}
.section-pills{
    padding-top: 20px;
    height: 100%;
    min-height: 77vh;
    padding-bottom: 100px;
}
.nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li > a {
    font-size: 15px !important;
    background-color: transparent !important;
    margin: 0 5px !important;
    padding: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.nav-pills li, .navbar-nav li{
    margin: 0 20px;
}
.nav-item .text-uppercase{
    font-size: 15px;
}
#ex1{
    margin: 0 0 !important;
}
#navbarDropdown{
    padding: 0 0 0 0;
}
.nav-link.active{
    color: black !important;
}
#ex1-content{
    padding-top: 72px;
    margin-top: -72px;
}
#ex1-pills-1, #ex1-pills-2, #ex1-pills-3, #ex1-pills-4{
    text-align: center;
}
#pf{
    display: flex;
    justify-content: center;
}

.navbar-nav{
    position: relative;
    left: 1.4%;
}
.border-grey{
    border-top: 10px solid rgb(177, 177, 177);
}
.aboutme{
    max-width: 300px;
    max-height: 300px;
    filter: grayscale(60%);
}
.aboutme:hover{
    filter: grayscale(10%);
    transition: 0.5s;
}
.aboutmetitle{
    height: 30px;
    color: rgba(255, 255, 255, 0.575);
}
.aboutmetitle:hover{
    color: white;
    transition: 0.3s;
}
.aboutmetxt{
    margin-top: 20px;
    text-align: justify;
}

.pdf{
    color: white;
    padding: 10px 20px;
    background-color: rgb(206, 87, 87);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459);
}
.pdf:hover{
    color: white;
    background-color: rgb(179, 0, 0);
    transition: 0.5s;
}

#pf-tab-1, #pf-tab-2, #pf-tab-3, #pf-tab-4, #pf-tab-5{
    width: 120px !important;
    padding: 10px 20px !important;
    border-radius: 0;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15) !important;
}
.pfimg{
    margin-top: 80px;
    max-width: 80%;
}

iframe{
    max-width: 100%;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
}

#linkedin, #instagram, #twitter{
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 30px;
}
#linkedin:hover{
    color: rgb(57, 135, 253);
    transition: 0.3s;
}
#instagram:hover{
    color: rgb(199, 7, 49);
    transition: 0.3s;
}
#twitter:hover{
    color: rgb(78, 184, 255);
    transition: 0.3s;
}

#copyright{
    font-size: 15px;
    color: white;
    margin-top: 20px;
}
.rappel{
    color: rgba(255, 255, 255, 0.61);
}
.bg-white{
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 1000px) {
    #alex, #hamm{
        font-size: 50px;
        margin: 0 0;
    }
    h1{
        text-align: center; 
    }
    #background{
        width: 500px;
    }
    #myVideo{
        left: -370px;
        max-height: 100%;
        opacity: 60%;
    }
    #ex1-content{
        padding: 20px;
        margin: -20px;
    }
    .col-md-3{
        margin-bottom: 100px;
    }
}

/* SCROLL BUTTON */
#btn-tab{
    font-size: 24px;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 50px;
    display: block;
    scroll-behavior: smooth;
    opacity: 70%;
    box-shadow: 2px 2px 3px black;
}
#btn-tab:hover{
    opacity: 100%;
    transition: 0.5s;
}
#btn-tab i{
    position: relative;
    left: 1px;
    top: 2px;
}


/* PROGRESS BARS */

.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ffffff;
    border-radius: 0;
}

.card .card-block {
    padding: 1.25rem
}

h6 {
    font-size: 16px !important
}

.text-c-green {
    color: #2ed8b6
}

.m-l-10 {
    margin-left: 10px
}

.proj-progress-card .progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px
}

.proj-progress-card .progress .progress-bar {
    position: relative
}

.progress .progress-bar {
    height: 100%;
    color: inherit
}

.bg-c-red {
    background: #FF5370
}

.proj-progress-card .progress .progress-bar.bg-c-red:after {
    border: 3px solid #FF5370
}

.proj-progress-card .progress .progress-bar:after {
    content: "";
    background: #fff;
    position: absolute;
    right: -6px;
    top: -4px;
    border-radius: 50%;
    width: 15px;
    height: 15px
}

.bg-c-blue {
    background: #4099ff
}

.proj-progress-card .progress .progress-bar.bg-c-blue:after {
    border: 3px solid #4099ff
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
    border: 3px solid #2ed8b6
}

.bg-c-green {
    background: #2ed8b6
}

.bg-c-yellow {
    background: #FFB64D
}

.proj-progress-card .progress .progress-bar.bg-c-yellow:after {
    border: 3px solid #FFB64D
}

.m-b-30 {
    margin-bottom: 30px
}

.text-c-red {
    color: #FF5370
}


/* Timeline */

  .timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
  }
  
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    
    z-index: 5;
  }
  
  .timeline li {
    padding: 1em 0;
  }
  
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 300px;
    float: right;
  }
  
  .flag-wrapper {
    position: relative;
    display: inline-block;
    
    text-align: center;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
  }
  
  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
  }
  
  .direction-r .flag:before {
    left: -40px;
  }
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250,80,80);
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
  }
  
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
  
  /* ================ Timeline Media Queries ================ */
  
  @media screen and (max-width: 660px) {
  
  .timeline {
       width: 100%;
      padding: 4em 0 1em 0;
  }
  
  .timeline li {
      padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
      float: none;
      width: 100%;
  
      text-align: center;
  }
  
  .flag-wrapper {
      text-align: center;
  }
  
  .flag {
      background: rgb(255,255,255);
      z-index: 15;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
      left: 50%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255,80,80);
      z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
  }
  
  .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
  }
  
  .direction-l .time-wrapper {
      float: none;
  }
  
  .direction-r .time-wrapper {
      float: none;
  }
  
  .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245,245,245);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      
    z-index: 15;
  }
  
  }
  
  @media screen and (max-width: 660px) {
  
  .direction-l .desc,
  .direction-r .desc {
      margin: 1em 4em 0 4em;
  }
  
  }